//- index.pug
- const digits = [0,1,2,3,4,5,6,7,8,9]

mixin digit(group, cls)
  div(class=cls)
    each n, i in digits
      - const id = `${group}-${i}`
        input(type='radio' id=id name=group, value=n checked=(n === 0))
        label(for=id)= n

mixin bar(n)
  - for (var i = 0; i < n; i++)
    .bar

mixin datachar(n)
  - for (var i = 0; i < n; i++)
    .datachar
      +bar(7)

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
    link(rel='stylesheet', href='barcode.css')
  body
    #barcode
      .left-margin
        +bar(11)
      .left-guardbar
        +bar(3)
      .left-databar
        +bar(42)
      .center-bar
        +bar(5)
      .right-databar
        +datachar(6)
      .right-guardbar
        +bar(3)
      .right-margin
        +bar(9)
    .digit-inputs
      +digit('input00', 'digit00')
      +digit('input01', 'digit01')
      +digit('input02', 'digit02')
      +digit('input03', 'digit03')
      +digit('input04', 'digit04')
      +digit('input05', 'digit05')
      +digit('input06', 'digit06')
      +digit('input07', 'digit07')
      +digit('input08', 'digit08')
      +digit('input09', 'digit09')
      +digit('input10', 'digit10')
      +digit('input11', 'digit11')
    #sum-even-digits
    #sum-odd-digits
    #check-digit
